@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
a {
  text-decoration: none !important;
}

header .navbar .main-menu {
  font-weight: bold;
}

header .navbar .main-menu .hvr-underline-from-center::before {
  background: tomato;
}

@media only screen and (max-width: 992px) {
  header .navbar .main-menu {
    background: white;
    border-top: 1px solid white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  header .navbar .main-menu .navbar-nav {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 992px) {
  header .navbar .main-menu .dropdown .dropdown-toggle::after {
    display: none;
  }
}

header .navbar-brand {
  font-family: 'cookie';
  font-size: 40px;
}

header .navbar-brand i {
  color: tomato;
  font-size: 18px;
}

header .login-menu a {
  color: rgba(0, 0, 0, 0.55);
  font-size: 15px;
  font-weight: 500;
}

header .login-menu a:hover {
  color: rgba(0, 0, 0, 0.75);
}

header .right-menu a {
  color: rgba(0, 0, 0, 0.55);
}

header .right-menu a:hover {
  color: tomato;
  font-weight: bolder;
}

header .right-menu .cart, header .right-menu .cart-1 {
  position: absolute;
  top: -11px;
  right: -12px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  background: black;
  text-align: center;
  border-radius: 50%;
  z-index: 0;
  color: white;
}

header .right-menu .cart-1 {
  right: -5px;
}

.nav-fix {
  margin-top: 126px;
}

@media only screen and (min-width: 992px) {
  .nav-fix {
    margin-top: 86px;
  }
}

.Footer {
  padding: 50px 0;
}

.Footer .second-footer-list h2,
.Footer .third-footer-list h2,
.Footer .fourth-footer-list h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.Footer .second-footer-list a,
.Footer .third-footer-list a,
.Footer .fourth-footer-list a {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.Footer .fourth-footer-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center;
    align-items: center; */
}

.Footer .fourth-footer-list ul li {
  margin-right: 15px;
  margin-top: 15px;
}

.Footer .fourth-footer-list ul li i {
  background-color: rgba(0, 0, 0, 0.6);
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
}

.Footer .fourth-footer-list form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Footer .fourth-footer-list form .btn1 {
  width: 245px;
  height: 45px;
  border-radius: 25px;
  padding: 20px;
}

.Footer .fourth-footer-list form .btn {
  margin-left: -50px;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #b90808;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

