@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
a {
  text-decoration: none !important;
}

header .navbar .main-menu {
  font-weight: bold;
}

header .navbar .main-menu .hvr-underline-from-center::before {
  background: tomato;
}

@media only screen and (max-width: 992px) {
  header .navbar .main-menu {
    background: white;
    border-top: 1px solid white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  header .navbar .main-menu .navbar-nav {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 992px) {
  header .navbar .main-menu .dropdown .dropdown-toggle::after {
    display: none;
  }
}

header .navbar-brand {
  font-family: 'cookie';
  font-size: 40px;
}

header .navbar-brand i {
  color: tomato;
  font-size: 18px;
}

header .login-menu a {
  color: rgba(0, 0, 0, 0.55);
  font-size: 15px;
  font-weight: 500;
}

header .login-menu a:hover {
  color: rgba(0, 0, 0, 0.75);
}

header .right-menu a {
  color: rgba(0, 0, 0, 0.55);
}

header .right-menu a:hover {
  color: tomato;
  font-weight: bolder;
}

header .right-menu .shop {
  color: rgba(0, 0, 0, 0.55);
}

header .right-menu .shop:hover {
  color: tomato;
  font-weight: bolder;
}

header .right-menu .cart, header .right-menu .cart-1 {
  position: absolute;
  top: -11px;
  right: -12px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  background: black;
  text-align: center;
  border-radius: 50%;
  z-index: 0;
  color: white;
  display: none;
}

header .right-menu .cart-1 {
  right: -5px;
}

.nav-fix {
  margin-top: 126px;
}

@media only screen and (min-width: 992px) {
  .nav-fix {
    margin-top: 86px;
  }
}

.mini-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  bottom: 0;
  z-index: 1045;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.mini-cart .cart-title .close-cart {
  cursor: pointer;
}

.mini-cart .view-cart a {
  display: inline-block;
  width: 100%;
}

.mini-cart .view-cart a .btn {
  width: 80%;
  border-radius: 20px;
}

.mini-cart .products {
  overflow-y: scroll;
  overflow-x: clip;
  height: 60vh;
}

.mini-cart .products .cart-item img {
  width: 150px;
  height: 160px;
}

.mini-cart .products .cart-item .dec {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1000;
  display: none;
}

.open-mini-cart {
  -webkit-transform: none !important;
          transform: none !important;
}

.show-overlay {
  display: block !important;
}

.card .card-body h2 {
  cursor: pointer;
}

.no-products {
  margin: 150px auto;
}

.carousel-p {
  color: #B750F3;
  font-family: 'Poppins', sans-serif;
}

.Footer {
  padding: 50px 0;
}

.Footer .second-footer-list h2,
.Footer .third-footer-list h2,
.Footer .fourth-footer-list h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.Footer .second-footer-list a,
.Footer .third-footer-list a,
.Footer .fourth-footer-list a {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.Footer .fourth-footer-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center;
    align-items: center; */
}

.Footer .fourth-footer-list ul li {
  margin-right: 15px;
  margin-top: 15px;
}

.Footer .fourth-footer-list ul li i {
  background-color: rgba(0, 0, 0, 0.6);
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
}

.Footer .fourth-footer-list form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Footer .fourth-footer-list form .btn1 {
  width: 245px;
  height: 45px;
  border-radius: 25px;
  padding: 20px;
}

.Footer .fourth-footer-list form .btn {
  margin-left: -153px;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #b90808;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.card-carousel {
  cursor: pointer;
  width: 100%;
}

.card-carousel img {
  height: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card-carousel .bton-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 50px;
  padding: 0 5px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-carousel .bton-grp button {
  border-radius: 50%;
}

.card-carousel .bton-grp button i {
  font-size: 20px;
}

.card-carousel:hover .bton-grp {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.card-carousel:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.details {
  cursor: pointer;
}

.details:hover {
  color: skyblue;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 55%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px !important;
  background: #dc3545;
  border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-next span {
  font-size: 30px;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #28a745;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 55%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px !important;
  background: #dc3545;
  border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-prev span {
  font-size: 30px;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #28a745;
}
/*# sourceMappingURL=fav.css.map */